<div class="container">
<h3>View List</h3>
<table class="table">
        <thead>
          <tr>
            <th>EmpId</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items">
          <tr>
            <td>{{item.empid}}</td>
            <td>{{item.firstname}} {{item.lastname}}</td>
            <td>{{item.department}}</td>
            <td>{{item.designation}}</td>
            <td>{{item.salary}}</td>
          </tr>
        </tbody>
</table>
</div>


